<%- include('partials/header') %>

<div class="row text-center">
  <img class="mx-auto img-fluid pt-5" src="/images/buy-sell.png" alt="" />
</div>
<div class="row">
  <div class="col-md-6 p-3 text-center">
    <h1 class="display-5">Coustomer Login</h1>
    <div
      class="spinner-grow text-success mx-auto mt-3"
      style="display: flex;"
    ></div>
    <a href="/coustomer-login" class="btn btn-success px-4 mt-3">login</a>
  </div>
  <div class="col-md-6 p-3 text-center">
    <h1 class="display-5">Shopkeeper Login</h1>
    <div
      class="spinner-grow text-warning mx-auto mt-3"
      style="display: flex;"
    ></div>
    <a href="/shopkeeper-login" class="btn btn-warning px-4 mt-3">login</a>
  </div>
</div>

<%- include('partials/footer') %>
