<%- include('partials/header') %>


<div class='home-login '>
    <div  class="login-btn p-3">
        <h1>Coustomer Login</h1>
        <a href="/coustomer-login" class="btn btn-dark">login</a>
    </div>
    <div class="login-btn p-3">
        <h1>Shopkeeper Login</h1>
        <a href="/shopkeeper-login" class="btn btn-primary">login</a>
    </div>
</div>


<%- include('partials/footer') %>