<%- include('partials/header') %>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <ul class="navbar-nav  m-auto" style="flex-direction: row;">
  <li class="nav-item active">
    <a href="/" class="nav-link">Home</a>
  </li>
  <li class="nav-item active mx-2">
    <a href="https://github.com/gyanendraknojiya/bidding-project" target="_blank" class="nav-link">Git Code</a>
  </li>
  <li class="nav-item active">
    <a href="http://gyanendraknojiya.github.io" target="_blank"  class="nav-link">Portfolio</a>
  </li>
  </ul>
</nav>

<div class="container mt-5 text-center">
  <h1 class="display-5 mb-5">Shopkeeper Login</h1>

  <div class="row">
    <div class="col-md-4 mx-auto text-center">

      <div class="card">
        <div class="card-body">
          <form action="/shopkeeper-login" method="POST">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="email" class="form-control" name="username">
            </div>
            <div class="form-group">
              <label for="password">Password</label>
              <input type="password" class="form-control" name="password">
            </div>
            <button type="submit" class="btn btn-dark">Login</button>
          </form>
          <pre class="mt-2">Not a Shopkeeper ? Resister Here..</pre>
          <a href="/shopkeeper-register" class="btn btn-danger">Resister</a>

        </div>
      </div>
    </div>

    
  </div>
</div>

<%- include('partials/footer') %>
